.user-form.signup-form {
	.radio-field-block {
		margin-top: 20px;

		.radio-field__label {
			text-align: left;
			font-weight: 600;
		}
		.radio-field__fields {
			padding: 5px 5px; 
			border: 1px solid #cec4da;
			border-radius: 0.25rem;
		}
	}

}